form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  mat-form-field {
    width: 100%;

    input {
      width: 100%;
    }
  }

}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .main-text {
    color: black;
  }
}


.preview {
  position: absolute;
  width: 100%;
  top: 110%;
}

