.item-container {
  width: 100%;
  height: 100%;
  display: grid;
  // grid-template-columns is set using property binding
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
