:host {
  width: 100%;
  max-width: 720px;
  height: 100%;

  mat-card {
    height: 100%;
  }

  mat-card-header {
    justify-content: center;
  }

  mat-card-content {
    height: 100%;
  }

  .empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1rem;

    &__icon {
      font-size: 6rem;
      height: 6rem;
      width: 6rem;
    }
  }

  .item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;

    &__item {
      position: relative;
    }

    &__item:has(+ .item-list__item):after {
      content: '';
      position: absolute;
      // 100% - item size, 0.5rem - container gap/2, 1px - border size/2
      top: calc(100% + 0.5rem - 1px);
      width: 100%;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 0;
  }

  .submit {
    width: 100%;
  }
}
