<div class="image-container">
  <img
    alt="Photo of a Gift Certificate"
    class="image-container__image"
    mat-card-image
    src="../../../../assets/default-image-gift-certificate.png"/>
</div>

<div class="info">
  <mat-card class="info__card">
    <mat-card-header>
    <mat-card-title> {{data.name}}</mat-card-title>
    <mat-card-subtitle> {{data.price}} &dollar;</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <span class="mat-subtitle-2">Short description</span>
      <p>
        {{ data.description }}
      </p>
      <div>
        <span *ngFor="let tag of data.tags"> #{{ tag.name }} </span>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button
        (click)="onAddToCart()"
        *ngIf="!inCart; else alreadyInCard"
        mat-raised-button>
        <mat-icon class="reset-margin"> shopping_cart</mat-icon>
      </button>
      <ng-template #alreadyInCard>
        <button (click)="onAlreadyInCart()" mat-raised-button>
          <mat-icon class="reset-margin"> check_circle</mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
<div class="description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec dapibus augue. Phasellus lacinia velit
  nec neque aliquet, sit amet ultrices augue mattis. Duis et nisl purus. Aenean sollicitudin vitae.
</div>
