:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

blockquote::before {
  content: '\201C';
}

blockquote::after {
  content: '\201D';
}

iframe{
  border-radius: 20px;
  aspect-ratio: 16/9;
  border: 5px solid #000;
  outline: 4px solid #ddd;
  box-shadow:  5px 5px 8px #666666, -5px -5px 8px #ffffff;
  transition: all 0.2s ease-in-out;

  &:hover{
    transform: scale(1.15);
    outline: 4px solid #ccc;
  }
}
