<h1 class="mat-headline-4">
  Welcome to the home page
</h1>
<span class="mat-body-1">
  We happy to see you here
</span>
<span class="mat-body-1">
  Please visit our products page
</span>
<a [routerLink]="['/certificates']"
   class="mat-body-1"
>Products</a>
<span class="mat-body-1">
  As someones said
</span>
<blockquote class="mat-headline-4">
  It just works
</blockquote>
<iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen frameborder="0"
        height="240" src="https://www.youtube.com/embed/nVqcxarP9J4?autoplay=1&rel=0&controls=0"
></iframe>
